<header class="nav-bar">
    <div class="container nav-container">
        <a href="#inicio" class="logo">MateusJesus.<span>dev</span></a>

        <button (click)="toggleTheme()" class="p-button-theme"
            [title]="isDarkMode ? 'Ativar Modo Claro' : 'Ativar Modo Escuro'">
            <span class="p-button-icon">
                {{ isDarkMode ? '☀️': '🌙' }}
            </span>
            <span class="p-ink"></span> </button>
        <nav class="nav-links">
            <a href="#sobre">Sobre</a>
            <a href="#habilidades">Skills</a>
            <a href="#experiencia">Experiência</a>
            <a href="#portfolio">Portfólio</a>
        </nav>
    </div>
</header>