<section class="skills-section" id="habilidades">
  <div class="container">
    <h2 class="section-title">Minhas Competências</h2>

    <div class="skills-grid">
      <!-- Card Dinâmico gerado pelo JSON -->
      <div class="p-card-skill" *ngFor="let item of skillsData" #skillCard>
        <div class="card-header"><i [class]="item.icon"></i>
          <h3>{{ item.area }}</h3>
        </div>
        <ul class="skill-list">
          <li *ngFor="let tech of item.tecnologias">{{ tech }}</li>
        </ul>
      </div>
    </div>

    <div class="courses-section">
      <h3 class="sub-section-title">Formação</h3>
      <div class="courses-grid">
        <div class="course-item featured-edu" #skillCard>
          <div class="course-icon"><i class="pi pi-graduation-cap"></i></div>
          <div class="course-info">
            <h4>TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h4>
            <span class="institution">Uninter • Graduado</span>
          </div>
        </div>
      </div>
    </div>

    <div class="courses-section">
      <h3 class="sub-section-title">Cursos & Certificações</h3>
      <div class="courses-grid">
        <div class="course-item" #skillCard>
          <div class="course-icon"><i class="pi pi-verified"></i></div>
          <div class="course-info">
            <h4>Curso Completo de PHP 7</h4>
            <span>Udemy / Hcode</span>
          </div>
        </div>
        <div class="course-item" #skillCard>
          <div class="course-icon"><i class="pi pi-verified"></i></div>
          <div class="course-info">
            <h4>Curso de Desenvolvimento web 2018</h4>
            <span>Udemy</span>
          </div>
        </div>
        <div class="course-item" #skillCard>
          <div class="course-icon"><i class="pi pi-verified"></i></div>
          <div class="course-info">
            <h4>Excel Avançado com VBA</h4>
            <span>Fundação Bradesco</span>
          </div>
        </div>
        <div class="course-item" #skillCard>
          <div class="course-icon"><i class="pi pi-verified"></i></div>
          <div class="course-info">
            <h4>C# Curso Completo: do Básico ao Avançado</h4>
            <span>Udemy / Cod3r</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>